@import "https://slow.github.io/dark-discord/src/source.css";
:root, .theme-light, .theme-dark {
   --background-primary: #292841 !important;
   --background-secondary: #242338 !important;
   --background-secondary-alt: #1e1d2d !important;
   --background-tertiary: #1c1b29 !important;
   --background-accent: #413f66 !important;
   --background-accent-alt: #403e63 !important;
   --background-floating: #15141e !important;
   --channeltextarea-background: #393859 !important;
}

.role-2irmRk {
   position: relative;
   overflow: hidden;
   z-index: 0;
   border: none;
   padding: 5px;
}

.roleCircle-3xAZ1j::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: inherit;
   opacity: .2;
   z-index: -1;
   pointer-events: none;
}

.item-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-jitem-1tOPte.labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j {
   background-color: var(--background-modifier-active)
}

.headerSpotify-zpWxgT,
.topSectionSpotify-1lI0-P,
.topSectionSpotify-1lI0-P .headerFill-adLl4x .tabBarContainer-1s1u-z {
   background-color: #699378;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover, .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .selected-aXhQR6 .layout-2DM8Md, .clickable-1JJAn8:hover .layout-2DM8Md, .clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i.selected-aXhQR6 .layout-2DM8Md, .wrapper-2jXpOf:hover .content-1x5b-n, .modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n, .button-38aScr, .item-26Dhrx, .side-8zPYf6>.item-PXvHYJ, .scrollableContainer-2NUZem, .checkbox-1ix_J3, .userInfoViewing-16kqK3, .userInfoEditing-1CEzdT, .css-118dehu-control, .css-gvi9bl-control, .css-17e1tep-control, .container-CpszHS, .gameNameInput-385LoS, .searchBar-3dMhjb, .searchBarComponent-32dTOx, .copyInputDefault-21sXtF, .addInputWrapper-1BOZ3d>.wrapper-1cBijl, .inputWrapper-31_8H8, .container-1s4HBn, .draggable-1EOU8o, .searchBar-1YE5UV, .autocompleteRow-2OthDa>.base-1pYU8j, .searchBar--fTZYa, .member-3-YXUe>.layout-2DM8Md, .auditLog-3jNbM6, .auditLog-3jNbM6>.headerDefault-1wrJcN, .auditLog-3jNbM6>.headerClickable-2IVFo9, .inputWrapper-31_8H8>.input-cIJ7To {
   border-radius: 25px !important;
}

.formNotice-2_hHWR, .accountList-33MS45, .banner-3Kac2g, .wrapper-3jrx9n, .powercord-product, .powercord-entities-manage-tabs, .descriptionBox-1EKQKL, .upsellContainer-L9xv7w, .userPopout-3XzG_A, .inner-1ilYF7>.flex-1xMQg5, .quickswitcher-3JagVE, .uploadModal-2ifh8j, .hero-EvfTTA, .root-1gCeng {
   border-radius: 20px;
}

.authedApp-mj2Hmd, .connection-1fbD7X, .detailsBlock-FoDTGA, .accountCredit-2hUNux, .cardWrapper-2Min21, .card-3AyPWq, .wrapper-3nSjSv, .membershipDialog-rVL-t_, .previewContainer-37c2Si, .marginBottom20-32qID7>.formNotice-2_hHWR, .marginBottom20-32qID7>.children-rWhLdy>.formNotice-2_hHWR, .option-n0icdO, .flexCenter-3_1bcw:before, .preview-2nSL_2, .codeRedemptionRedirect-1wVR4b, .powercord-account, .card-o7rAq-, .featureCard-1RR4Tl, .itemCard-v9viV7, .card-FDVird:before, .checklistContainer-mFJZEJ, .container-3JTnYm, .autocomplete-1vrmpx, .feature-2w65J5, .contentWrapper-SvZHNd, .searchBar-5di9mG, .streamPreview-2-WUWT, .result-3w1ZcL:after, .result-3w1ZcL, .categoryFade-2ybR1J, .categoryFadeBlurple-1j72_A, .gif-1TcNIB, .root-1gCeng>.content-1LAB8Z>.message-2qRu38, #search-results, .userSelectNone-Iy6XEP, .giftCodeContainer-1fbmAS>.tile-2OwFgW, .modalRoot-1Kx4Hb {
   border-radius: 15px;
}

.children-rWhLdy>.flexCenter-3_1bcw, .menu-3sdvDG, .input-2VB9rf, .inset-3sAvek, .connectedAccount-36nQx7, .attachment-33OFj0 {
   border-radius: 10px;
}

.input-cIJ7To {
   border-radius: 5px;
}

.auditLog-3jNbM6>.headerExpanded-CUEwZ5 {
   border-radius: 25px 25px 0 0;
}

.auditLog-3jNbM6>.changeDetails-bk98pu {
   border-radius: 0 0 25px 25px;
}

.upsellContainer-L9xv7w>.upsellFooter-ZYsio_, .uploadModal-2ifh8j>.footer-3mqk7D, .root-1gCeng>.footer-2gL1pp, .footer-2gL1pp {
   border-radius: 0 0 20px 20px;
}

.css-6fzn47-control, .checklistHeader-1KWcEY, .tierHeaderUnlocked-2RhWqn, .tierHeaderLocked-1a2opw {
   border-radius: 15px 15px 0 0;
}

.css-3vaxre-menu, .tierBody-x9kBBp {
   border-radius: 0 0 15px 15px;
}

.searchFilter-2ESiM3 {
   border-radius: 10px 0 0 10px;
   padding-left: 7px;
}

.searchAnswer-3Dz2-q {
   border-radius: 0 10px 10px 0;
   padding-right: 7px;
}

.accountCreditRow-SHgyi0:not(:last-child) {
   padding-bottom: 16px;
   border-bottom: none;
}

.inputWrapper-31_8H8:before {
   display: none;
}