@import "https://slow.github.io/dark-discord/src/source.css";
@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap";
@import "https://snappercord.github.io/Settings-Icons/source.css";
:root, .theme-light, .theme-dark {
   --background-accent: #413f66 !important;
   --background-accent-alt: #403e63 !important;
   --background-floating: #15141e !important;
   --background-primary: #292841 !important;
   --background-secondary: #242338 !important;
   --background-secondary-alt: #1e1d2d !important;
   --background-tertiary: #1c1b29 !important;
   --channels-default: #817eb3 !important;
   --channeltextarea-background: var(--background-secondary-alt) !important;
   --interactive-active: #d7d5ff !important;
   --interactive-hover: #b5b2ff !important;
   --interactive-muted: #7f7cbd !important;
   --interactive-normal: #7f7cbd !important;
   --settings-icon-color: var(--channels-default) !important;
   --text-muted: #817eb3 !important;
   --text-normal: #fbfbfb !important;
}

::-webkit-input-placeholder, body, button, input, select, textarea {
   font-family: 'Roboto Condensed', sans-serif;
}

.role-2irmRk {
   border: none;
   overflow: hidden;
   padding: 5px;
   position: relative;
   z-index: 0;
}

.roleCircle-3xAZ1j::before {
   background: inherit;
   content: '';
   height: 100%;
   left: 0;
   opacity: .2;
   pointer-events: none;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -1;
}

.menu-3sdvDG .colorDefault-2K3EoJ.focused-3afm-j, .menu-3sdvDG .colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
   background-color: var(--background-modifier-active);
   border-radius: 25px;
   transition: background-color .1s, color .1s;
}

.tabBarContainer-1s1u-z {
   border: none;
}

.wrapper-1cBijl, .side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .connectedAccount-36nQx7, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover, .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .selected-aXhQR6 .layout-2DM8Md, .clickable-1JJAn8:hover .layout-2DM8Md, .clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i.selected-aXhQR6 .layout-2DM8Md, .wrapper-2jXpOf:hover .content-1x5b-n, .modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n, .button-38aScr, .side-8zPYf6>.item-PXvHYJ, .scrollableContainer-2NUZem, .checkbox-1ix_J3, .userInfoViewing-16kqK3, .userInfoEditing-1CEzdT, .css-118dehu-control, .css-gvi9bl-control, .css-17e1tep-control, .container-CpszHS, .gameNameInput-385LoS, .searchBar-3dMhjb, .searchBarComponent-32dTOx, .copyInputDefault-21sXtF, .addInputWrapper-1BOZ3d>.wrapper-1cBijl, .inputWrapper-31_8H8, .container-1s4HBn, .draggable-1EOU8o, .searchBar-1YE5UV, .autocompleteRow-2OthDa>.base-1pYU8j, .searchBar--fTZYa, .member-3-YXUe>.layout-2DM8Md, .auditLog-3jNbM6, .auditLog-3jNbM6>.headerDefault-1wrJcN, .auditLog-3jNbM6>.headerClickable-2IVFo9, .inputWrapper-31_8H8>.input-cIJ7To {
   border-radius: 25px !important;
}

.formNotice-2_hHWR, .accountList-33MS45, .banner-3Kac2g, .wrapper-3jrx9n, .powercord-product, .powercord-entities-manage-tabs, .descriptionBox-1EKQKL, .upsellContainer-L9xv7w, .userPopout-3XzG_A, .inner-1ilYF7>.flex-1xMQg5, .quickswitcher-3JagVE, .uploadModal-2ifh8j, .hero-EvfTTA, .root-1gCeng {
   border-radius: 20px;
}

.menu-3sdvDG, .authedApp-mj2Hmd, .connection-1fbD7X, .detailsBlock-FoDTGA, .accountCredit-2hUNux, .cardWrapper-2Min21, .card-3AyPWq, .wrapper-3nSjSv, .membershipDialog-rVL-t_, .previewContainer-37c2Si, .marginBottom20-32qID7>.formNotice-2_hHWR, .marginBottom20-32qID7>.children-rWhLdy>.formNotice-2_hHWR, .option-n0icdO, .flexCenter-3_1bcw:before, .preview-2nSL_2, .codeRedemptionRedirect-1wVR4b, .powercord-account, .card-o7rAq-, .featureCard-1RR4Tl, .itemCard-v9viV7, .card-FDVird:before, .checklistContainer-mFJZEJ, .container-3JTnYm, .autocomplete-1vrmpx, .feature-2w65J5, .contentWrapper-SvZHNd, .searchBar-5di9mG, .streamPreview-2-WUWT, .result-3w1ZcL:after, .result-3w1ZcL, .categoryFade-2ybR1J, .categoryFadeBlurple-1j72_A, .gif-1TcNIB, .root-1gCeng>.content-1LAB8Z>.message-2qRu38, #search-results, .userSelectNone-Iy6XEP, .giftCodeContainer-1fbmAS>.tile-2OwFgW, .modalRoot-1Kx4Hb {
   border-radius: 15px;
}

.children-rWhLdy>.flexCenter-3_1bcw, .input-2VB9rf, .inset-3sAvek, .attachment-33OFj0 {
   border-radius: 10px;
}

.input-cIJ7To {
   border-radius: 5px;
}

.auditLog-3jNbM6>.headerExpanded-CUEwZ5 {
   border-radius: 25px 25px 0 0;
}

.auditLog-3jNbM6>.changeDetails-bk98pu {
   border-radius: 0 0 25px 25px;
}

.upsellContainer-L9xv7w>.upsellFooter-ZYsio_, .uploadModal-2ifh8j>.footer-3mqk7D, .root-1gCeng>.footer-2gL1pp, .footer-2gL1pp {
   border-radius: 0 0 20px 20px;
}

.css-6fzn47-control, .checklistHeader-1KWcEY, .tierHeaderUnlocked-2RhWqn, .tierHeaderLocked-1a2opw {
   border-radius: 15px 15px 0 0;
}

.css-3vaxre-menu, .tierBody-x9kBBp {
   border-radius: 0 0 15px 15px;
}

.searchFilter-2ESiM3 {
   border-radius: 10px 0 0 10px;
   padding-left: 7px;
}

.searchAnswer-3Dz2-q {
   border-radius: 0 10px 10px 0;
   padding-right: 7px;
}

.accountCreditRow-SHgyi0:not(:last-child) {
   border-bottom: none;
   padding-bottom: 16px;
}

.theme-dark .notches-1sAcEM.black-1D3qCv {
   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%2315141e'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
   background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23292841'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.theme-dark .tooltipBlack-PPG47z, .theme-light .tooltipBlack-PPG47z {
   background-color: #fff;
   font-size: 14px !important;
}

.flowerStar-1GeTsn {
   background: var(--background-accent);
   border-radius: 50px;
}

.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK, .theme-light .tooltipBlack-PPG47z .tooltipPointer-3ZfirK {
   display: none !important;
}

.folder-21wGz3, .folderIconWrapper-226oVY {
   background-color: var(--background-primary) !important;
}

.theme-dark .activityIcon-c4ew_N, .theme-light .activityIcon-c4ew_N, .theme-dark .listItemTooltip-CDcY8J, .theme-light .listItemTooltip-CDcY8J, .theme-dark .tooltip-2QfLtc, .theme-light .tooltip-2QfLtc {
   color: #000 !important;
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
   border-color: var(--deprecated-text-input-border-hover);
}

.theme-dark .tooltipBrand-g03Nz8, .theme-light .tooltipBrand-g03Nz8 {
   background-color: #fff;
}

.connectedAccount-36nQx7 {
   background-color: var(--background-primary);
   border: none !important;
}

.inputWrapper-31_8H8:before, .flowerStar-1GeTsn path, .theme-dark .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK, .theme-light .tooltipBrand-g03Nz8 .tooltipPointer-3ZfirK {
   display: none;
}

.menu-3sdvDG .colorDefault-2K3EoJ.focused-3afm-j .label-22pbtT {
   transform: translate(5px, 0);
   transition: transform .2s;
}

.menu-3sdvDG .colorDefault-2K3EoJ .label-22pbtT {
   transform: translate(0, 0);
   transition: transform .2s;
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, .colorDefault-2K3EoJ .radioSelection-1HmrQS {
   color: var(--interactive-hover);
}

.topSectionSpotify-1lI0-P .lookInverted-2D7oAl.colorGreen-29iAKY, .topSectionPlaying-1J5E4n .lookInverted-2D7oAl.colorBrand-3pXr91 {
   color: var(--interactive-normal);
}

.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P, .topSectionPlaying-1J5E4n, .headerPlaying-j0WQBV {
   background-color: var(--interactive-normal);
}

.circleIconButton-jET_ig {
   color: var(--text-muted);
}

.circleIconButton-jET_ig.selected-ugP_am {
   background-color: var(--background-accent);
}

.emojiButton-3uL3Aw .sprite-2iCowe {
   -webkit-mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMiAyQzYuNDc3IDIgMiA2LjQ3NyAyIDEyQzIgMTcuNTIyIDYuNDc3IDIyIDEyIDIyQzE3LjUyMyAyMiAyMiAxNy41MjIgMjIgMTJDMjIgNi40NzcgMTcuNTIzIDIgMTIgMlpNOCA2QzkuMTA0IDYgMTAgNi44OTYgMTAgOEMxMCA5LjEwNSA5LjEwNCAxMCA4IDEwQzYuODk2IDEwIDYgOS4xMDUgNiA4QzYgNi44OTYgNi44OTYgNiA4IDZaTTE4IDE0QzE4IDE2LjYxNyAxNS4xNCAxOSAxMiAxOUM4Ljg2IDE5IDYgMTYuNjE3IDYgMTRWMTNIMThWMTRaTTE2IDEwQzE0Ljg5NiAxMCAxNCA5LjEwNSAxNCA4QzE0IDYuODk2IDE0Ljg5NiA2IDE2IDZDMTcuMTA0IDYgMTggNi44OTYgMTggOEMxOCA5LjEwNSAxNy4xMDQgMTAgMTYgMTBaIj48L3BhdGg+Cjwvc3ZnPg==) center no-repeat;
   background: var(--interactive-normal);
   filter: none !important;
   mask: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+CiAgICA8cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMiAyQzYuNDc3IDIgMiA2LjQ3NyAyIDEyQzIgMTcuNTIyIDYuNDc3IDIyIDEyIDIyQzE3LjUyMyAyMiAyMiAxNy41MjIgMjIgMTJDMjIgNi40NzcgMTcuNTIzIDIgMTIgMlpNOCA2QzkuMTA0IDYgMTAgNi44OTYgMTAgOEMxMCA5LjEwNSA5LjEwNCAxMCA4IDEwQzYuODk2IDEwIDYgOS4xMDUgNiA4QzYgNi44OTYgNi44OTYgNiA4IDZaTTE4IDE0QzE4IDE2LjYxNyAxNS4xNCAxOSAxMiAxOUM4Ljg2IDE5IDYgMTYuNjE3IDYgMTRWMTNIMThWMTRaTTE2IDEwQzE0Ljg5NiAxMCAxNCA5LjEwNSAxNCA4QzE0IDYuODk2IDE0Ljg5NiA2IDE2IDZDMTcuMTA0IDYgMTggNi44OTYgMTggOEMxOCA5LjEwNSAxNy4xMDQgMTAgMTYgMTBaIj48L3BhdGg+Cjwvc3ZnPg==) center no-repeat;
   transform: none !important;
}

.emojiButton-3uL3Aw {
   top: -.75px;
}

.emojiButton-3uL3Aw.emojiButtonHovered-1rWNal .sprite-2iCowe {
   background: var(--interactive-hover);
}

.tooltipContent-bqVLWK, .children-19S4PO .cursorPonter-YEp76E.title-29uC1r.base-1x0h_U, .username-3gJmXY {
   font-weight: 500 !important;
}